h1 {
  text-align: center;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

div {
  width: 100px;
  height: 100px;
  background-color: #53b7b7;
  margin: 2px;
  /* Căn giữa  */
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
